networks:
  club-website:
    driver: bridge

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
      target: dev
    env_file:
      - .env
    ports:
      - ${PORT}:${PORT}
    volumes:
      - ./server:/app
    networks:
      - club-website
